<div class="footer pt-4 pb-4">

  <br class="pb-4">
  <br class="pb-4">
  <footer>
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <p class="navbar-brand text-white">ABOUT</p>
          <br />
          <a href="#" class="">Team Sales</a>
          <a href="#" class="">About Us</a>
          <a href="#" class="">Blog</a>
          <a href="#" class="">Career Opportunities</a>
        </div>
        <div class="col-md-3">
          <p class="navbar-brand text-white">CUSTOMER SERVICE</p>
          <br />
          <a href="#" class="">08.9400.1234</a>
          <a href="#" class="">Contact Us</a>
          <a href="#" class="">Order Status</a>
          <a href="#" class="">Shipping Info</a>
        </div>
        <div class="col-md-3">
          <p class="navbar-brand text-white">POPULAR LINKS</p>
          <br />
          <a href="#" class="">Coupons</a>
          <a href="#" class="">Release Calendar</a>
          <a href="#" class="">Equipment</a>
          <a href="#" class="">Jordan</a>
        </div>
        <div class="col-md-3">
          <p class="navbar-brand text-white">RESOURCES</p>
          <br />
          <a href="#" class="">App</a>
          <a href="#" class="">Text Sign-Up</a>
          <a href="#" class="">Privacy Statement</a>
          <a href="#" class="">Terms of Use</a>
        </div>
      </div>
      <br />
    </div>

  </footer>
</div>
