<div class="container text-white">

  <div class="row">
    <div class="col-6">
      <h4 class="pb-1">Review your order</h4>
    </div>
    <div class="col-6 text-right pt-2">
      <label><b></b></label>
    </div>
  </div>

  <hr class="border">

  <div class="row">

    <!-- Order Summary -->
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">

      <div class="row pb-3 pt-4">
        <button class="btn btn-primary bg-success w-100 border-0 mr-2 ml-2" (click)="submitOrder()">Place your order</button>
        <p class="pt-2 mr-2 ml-2">By placing your order, you agree to <a href="javascript:void" class="link">privacy notice</a> and <a href="javascript:void" class="link">conditions of use.</a></p>
      </div>

      <div class="row">

        <div class="col-8"><h6 class=""><b>Order Summary</b></h6></div>
        <div class="col-4"></div>

        <div class="col-8"><label>Items:</label></div>
        <div class="col-4 text-right"><label>{{ itemsExTotal() | currency }}</label></div>
        <div class="col-8"><label>Shipping & handling:</label></div>
        <div class="col-4 text-right"><label>{{ shippingAndHandling() | currency }}</label></div>
        <div class="col-8"><label>Total before tax:</label></div>
        <div class="col-4 text-right"><label>{{ totalBeforeTax() | currency }}</label></div>
        <div class="col-8"><label>Estimated tax to be collected:</label></div>
        <div class="col-4 text-right"><label>{{ estimatedTaxToBeCollected() | currency }}</label></div>

        <div class="col-8 pt-4"><h5 class="text-danger"><b>Order total:</b></h5></div>
        <div class="col-4 pt-4 text-right"><h5 class="text-danger"><b>{{ orderTotalIncTax() | currency }}</b></h5></div>

      </div>
    </div>

  </div>

</div>
