<div class="container text-white">

  <h3 class="pb-4">Shopping cart</h3>
  <div *ngIf="items && items.length > 0" class="cart-header pb-4">

    <div class="row d-flex justify-content-center">
      <div class="col-2"><h4>Product</h4></div>
      <div class="col-3"></div>
      <div class="col-1 text-center"><h4>Quantity</h4></div>
      <div class="col-2 text-center"><h4>Price</h4></div>
      <div class="col-1 text-center"></div>
    </div>

    <div class="cart-items">
      <div *ngFor="let item of items" class="cart-line">
        <app-cart-line [cartItem]="item"></app-cart-line>
      </div>
    </div>

  </div>
</div>
