<div class="container text-white">

  <div class="row">
    <div class="col-6">
      <h4 class="pb-1">Shopping Cart</h4>
    </div>
    <div class="col-6 text-right pt-2">
      <label><b>Price</b></label>
    </div>
  </div>

  <hr class="border">
  <div *ngIf="items && items.length > 0" class="cart-header pb-4">

    <div class="cart-items">
      <div *ngFor="let item of items" class="cart-line">
        <app-cart-line [cartItem]="item"></app-cart-line>
      </div>
    </div>

    <div class="row">
      <div class="col-6 pt-0">
        <button class="btn btn-success" [routerLink]="['/checkout']">Proceed to checkout</button>
      </div>
      <div class="col-6 text-right pt-0">
        <h6><b>Subtotal ({{ totalQuantity }} items): {{ subtotal | currency }}</b></h6>
      </div>
    </div>

  </div>
</div>
