
<input id="size_080" class="btn btn-primary mb-2 border border-1" disabled="true" type="button" value="08.0" >
&nbsp;
<input id="size_090" class="btn btn-primary mb-2 border border-1" type="button" value="09.0" >
&nbsp;
<input id="size_100" class="btn btn-primary mb-2 border border-1" disabled="true" type="button" value="10.0" >
&nbsp;
<input id="size_110" class="btn btn-primary mb-2 border border-1" type="button" value="11.0" >
&nbsp;
<input id="size_120" class="btn btn-primary mb-2 border border-1" type="button" value="12.0" >
&nbsp;
<input id="size_130" class="btn btn-primary mb-2 border border-1" type="button" value="13.0" >
&nbsp;
<input id="size_140" class="btn btn-primary mb-2 border border-1" type="button" value="14.0" >
&nbsp;
<input id="size_150" class="btn btn-primary mb-2 border border-1" type="button" value="15.0" >
&nbsp;
<input id="size_160" class="btn btn-primary mb-2 border border-1" type="button" value="16.0" >
&nbsp;
<input id="size_170" class="btn btn-primary mb-2 border border-1" type="button" value="17.0" >
