<div class="container text-white">

  <div class="row">
    <div class="col-12">
      <h4 class="pb-1">Review your order</h4>
    </div>
  </div>
  <hr class="border">

  <div class="row">

    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12">

      <div class="row">

        <div class="col-8"><h6 class=""><b>Order #167383</b></h6></div>
        <div class="col-4"></div>

        <div class="col-8"><label>Date Placed:</label></div>
        <div class="col-4 text-right"><label>May 01, 2019</label></div>
        <div class="col-8"><label>Status:</label></div>
        <div class="col-4 text-right"><label>Submitted</label></div>
        <div class="col-8"><label>Total:</label></div>
        <div class="col-4 text-right"><label>{{ orderTotalIncTax() | currency }}</label></div>

      </div>
    </div>

  </div>

</div>
