<main>
  <div class="container" role="main">

    <section>
      <div class="text-center">
        <picture>
          <img alt="" class="rounded img-fluid"
            src="https://images.footlocker.com/content/dam/final/eastbay/site/homepage/20191010-lebron17/20191010-Lebron17-Homepage-1UP.jpg">
        </picture>

        <div class="text-center text-white">
          <h2 class="">ALL HAIL THE KING</h2>
          <p class="">Rule the court like King James.</p>
          <br />
          <div class="row">
            <div class="col">
              <a class="btn btn-outline-primary text-white mr-sm-2" href="#">SHOP MEN'S LEBRON 17 ></a>
              <a class="btn btn-outline-primary text-white" href="#">SHOP BOY'S LEBRON 17 ></a>
            </div>
          </div>
        </div>
      </div>
      <br />
    </section>

    <section>
      <div class="text-center">
        <picture>
          <img alt="" class=" img-fluid"
            src="https://images.footlocker.com/content/dam/final/eastbay/site/homepage/20191014-homepage-week37/2up-jordan.jpg">
        </picture>

        <div class="text-center text-white">
          <h2>JOIN THE #23 LEGACY</h2>
          <p>Gear up with the latest Jordan footwear and apparel.</p>
          <br />
          <a class="btn btn-outline-primary text-white" href="#">SHOP JORDAN</a>
        </div>
      </div>
    </section>

    <hr>

  </div>
</main>
